<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="wrapper1">
        <div class="navbar">
            <div class="container">
                <div class="col-md-3">
                    <div class="logo">
                        <div class="img">
                            <img src="img/logo-white.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">HOME
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">FEATURES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">SCREENSHOTS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">TESTIMONIALS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">DOWNLOAD</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">CONTACT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">SUBSCRIBE</a>
                                </li>
                                <i class="fa fa-search">
                                    <span class="sr-only">Search</span>
                                </i>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="img/banner-bg-1.jpg" alt="First slide">
                    <div class="cover">
                        <div class="caption">
                            <h2 class="ng-binding">Beetle</h2>
                            <p class="lead ng-binding">HTML5 template for landing page, blog and resume</p>
                            <p>
                                <a class="btn btn-lg btn-white btn-round-lg depth-xl-hover ng-binding" target="" href="#" ng-href="#" tabindex="-1">Read
                                    more
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="img/banner-bg-2.jpg" alt="Second slide">
                    <div class="cover">
                        <div class="caption">
                            <h2 class="ng-binding">Lab desk</h2>
                            <p class="lead ng-binding">Tools are all we need for creating good stuff</p>
                            <p>
                                <a class="btn btn-lg btn-white btn-round-lg depth-xl-hover ng-binding" target="" href="#" ng-href="#" tabindex="-1">Read
                                    more
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="img/banner-bg-3.jpg" alt="Third slide">
                    <div class="cover">
                        <div class="caption">
                            <h2 class="ng-binding">Jules &amp; Jim</h2>
                            <p class="lead ng-binding">A team with over 20 years of realty experience</p>
                            <p>
                                <a class="btn btn-lg btn-white btn-round-lg depth-xl-hover ng-binding" target="" href="#" ng-href="#" tabindex="-1">Read
                                    more
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="img/banner-bg-4.jpg" alt="Third slide">
                    <div class="cover">
                        <div class="caption">
                            <h2 class="ng-binding">WORKSPACE</h2>
                            <p class="lead ng-binding">We lova to work inside dark rooms</p>
                            <p>
                                <a class="btn btn-lg btn-white btn-round-lg depth-xl-hover ng-binding" target="" href="#" ng-href="#" tabindex="-1">Read
                                    more
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="wrapper2">
        <div class="container">
            <div class="text-center">
                <h2 class="ng-binding">FEAUTURES</h2>
                <p class="lead ng-binding">Here are some awesome features of this application.</p>
            </div>
            <div class="row">
                <div class="col-md-4 col4">
                    <div class="col-md-12">
                        <div feature-item="" class="grid-icon-item icon-left ng-scope" ng-repeat="item in features.items.left">
                            <i class="fas fa-align-right"></i>
                            <h4 class="h5 ng-binding">FULLY CUSTOMAZIBLE</h4>
                            <p class="ng-binding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores.
                                Eum laudantium.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div feature-item="" class="grid-icon-item icon-left ng-scope" ng-repeat="item in features.items.left">
                            <i class="fas fa-mobile-alt"></i>
                            <h4 class="h5 ng-binding">CROSS PLATFORM</h4>
                            <p class="ng-binding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores.
                                Eum laudantium.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div feature-item="" class="grid-icon-item icon-left ng-scope" ng-repeat="item in features.items.left">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <h4 class="h5 ng-binding">FULLY CUSTOMIZABLE</h4>
                            <p class="ng-binding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores.
                                Eum laudantium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img2">
                        <i class="fas fa-align-right"></i>
                        <i class="fas icon-none fa-mobile-alt"></i>
                        <i class="fas icon-none fa-cloud-upload-alt"></i>
                        <i class="far icon-none fa-life-ring"></i>
                        <i class="fas icon-none fa-bullseye"></i>
                        <i class="far icon-none fa-credit-card"></i>
                        <img src="img/gallary-frame.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 col4">
                    <div class="col-md-12">
                        <div feature-item="" class="grid-icon-item icon-right ng-scope" ng-repeat="item in features.items.left">
                            <i class="far fa-life-ring"></i>
                            <h4 class="h5 ng-binding">FAST SUPPORT</h4>
                            <p class="ng-binding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores.
                                Eum laudantium.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div feature-item="" class="grid-icon-item icon-right ng-scope" ng-repeat="item in features.items.left">
                            <i class="fas fa-bullseye"></i>
                            <h4 class="h5 ng-binding">UNIQUE DESIGN</h4>
                            <p class="ng-binding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores.
                                Eum laudantium.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div feature-item="" class="grid-icon-item icon-right ng-scope" ng-repeat="item in features.items.left">
                            <i class="far fa-credit-card"></i>
                            <h4 class="h5 ng-binding">IN-APP PURCHASES</h4>
                            <p class="ng-binding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores.
                                Eum laudantium.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper3">
        <div class="container">
            <div class="text-center2 txtcntr1">
                <h2 class="ng-binding">Video</h2>
                <p class="lead ng-binding">A beautiful way to present your design.</p>
                <div class="video">
                    <img id="img" src="img/maxresdefault.jpg" alt="">
                    <i id="player" class="fa fa-play"></i>
                    <iframe id="iframe" width="100%" height="100%" src="https://www.youtube.com/embed/rbG36NosXqw?autoplay=1" autoplay></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper4">
        <div class="text-center">
            <h2 class="ng-binding">APP SCREENSHOTS</h2>
            <p class="lead ng-binding">A beautiful way to present your design.</p>
        </div>
        <div class="responsive-slider">
            <div class="item">
                <img src="img/screenshot-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot-3.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot-4.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot-5.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot-6.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot-7.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/screenshot-8.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="wrapper5">
        <div class="text-center">
            <h2 class="ng-binding">TESTIMONIALS</h2>
            <p class="lead ng-binding">Here are some word from our happy customers</p>
            <div class="autoplay">
                <div>
                    <p class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                        <br /> elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                        <br /> ultricies vehicula ut id elit.</p>
                    <img src="img/man-1.jpg" class="img-circle" alt="Avatar">
                    <h3 class="ng-binding">John Doe</h3>
                    <p class="ng-binding">CEO, XYZ Company</p>
                </div>
                <div>
                    <p class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                        <br /> elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                        <br /> ultricies vehicula ut id elit.</p>
                    <img src="img/man-2.jpg" class="img-circle" alt="Avatar">
                    <h3 class="ng-binding">Foo Bar</h3>
                    <p class="ng-binding">MD, ABC Ltd</p>
                </div>
                <div>
                    <p class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                        <br /> elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                        <br /> ultricies vehicula ut id elit.</p>
                    <img src="img/man-3.jpg" class="img-circle" alt="Avatar">
                    <h3 class="ng-binding">John Foo</h3>
                    <p class="ng-binding">Manager, A Co.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper6">
        <div class="text-center">
            <h2 class="ng-binding">DOWNLOAD</h2>
            <p class="lead ng-binding">Choose your platform to install the application</p>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6">
                    <a ng-href="#android" class="btn btn-icon btn-solid depth-xl-hover ng-binding" href="#android">
                        <i class="fab fa-android" aria-hidden="true"></i>
                        Download for Android
                        <span class="ng-binding">30 days free trial</span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a ng-href="#iphone" class="btn btn-icon btn-solid depth-xl-hover ng-binding" href="#iphone">
                        <i class="fab fa-apple" aria-hidden="true"></i>
                        Download for iPhone
                        <span class="ng-binding">30 days free trial</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper7">
        <div class="text-center2 txtcntr2">
            <h2 class="ng-binding">PRICING PLAN</h2>
            <p class="lead ng-binding">Choose your plan and get more features</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="ng-repeat col-md-4">
                    <div class="left-side">
                        <div class="container">
                            <div class="pricing-header">
                                <h4 class="no-margin ng-binding">Basic</h4>
                                <p class="no-margin ng-binding">For Freelancer</p>
                            </div>
                            <div class="price">
                                <div class="ng-binding2">
                                    $49
                                    <sub class="duration ng-binding">/month</sub>
                                </div>
                            </div>
                            <div class="pricing-content">
                                <ul class="list-unstyled">
                                    <!-- ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Total User
                                        <span ng-bind-html="feature.value" class="ng-binding">15</span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Unlimited Styles
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Advanced Protection
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Cloud Storage
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Backup Service
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">24/7 Customer
                                        Service
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a ng-href="#android" class="btn btn-icon btn-solid pricing-btn depth-xl-hover ng-binding first-pricing" href="#android">
                                <i class="fab fa fa-cart-arrow-down" aria-hidden="true"></i>
                                Basic Plan
                                <span class="ng-binding">Click here to buy this plan</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ng-repeat middle col-md-4">
                    <div class="left-side tall-side">
                        <div class="container">
                            <div class="pricing-header">
                                <h4 class="no-margin ng-binding">ADVANCED</h4>
                                <p class="no-margin ng-binding">FOR COMPANY</p>
                            </div>
                            <div class="price">
                                <div class="ng-binding2">
                                    $249
                                    <sub class="duration ng-binding">/month</sub>
                                </div>
                            </div>
                            <div class="pricing-content middle-pr-cnt">
                                <ul class="list-unstyled">
                                    <!-- ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Total User
                                        <span ng-bind-html="feature.value" class="ng-binding">15</span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Unlimited Styles
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Advanced Protection
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Cloud Storage
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Backup Service
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">24/7 Customer
                                        Service
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a ng-href="#android" class="btn btn-icon btn-solid pricing-btn depth-xl-hover ng-binding second-pricing" href="#android">
                                <i class="fab fa fa-cart-arrow-down" aria-hidden="true"></i>
                                ADVANCED PLAN
                                <span class="ng-binding">Click here to buy this plan</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ng-repeat col-md-4">
                    <div class="left-side">
                        <div class="container">
                            <div class="pricing-header">
                                <h4 class="no-margin ng-binding">RECOMMENDED</h4>
                                <p class="no-margin ng-binding">FOR PROFESSIONALS</p>
                            </div>
                            <div class="price">
                                <div class="ng-binding2">
                                    $149
                                    <sub class="duration ng-binding">/month</sub>
                                </div>
                            </div>
                            <div class="pricing-content">
                                <ul class="list-unstyled">
                                    <!-- ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Total User
                                        <span ng-bind-html="feature.value" class="ng-binding">15</span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Unlimited Styles
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Advanced Protection
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Cloud Storage
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">Backup Service
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                    <li ng-repeat="feature in item.plan.features" class="ng-binding ng-scope">24/7 Customer
                                        Service
                                        <span ng-bind-html="feature.value" class="ng-binding">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </li>
                                    <!-- end ngRepeat: feature in item.plan.features -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a ng-href="#android" class="btn btn-icon btn-solid pricing-btn pricing-btn2 depth-xl-hover ng-binding third-pricing" href="#android">
                                <i class="fab fa fa-cart-arrow-down" aria-hidden="true"></i>
                                RECOMMENDED PLAN
                                <span class="ng-binding">Click here to buy this plan</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper8">
        <div class="text-center">
            <h2 class="ng-binding">CONTACT</h2>
            <p class="lead ng-binding">Have queries? Contact us here.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p>
                        <i class="fas fa-phone"></i>
                    </p>
                    <p>
                        <a href="tel:+1 123 123 1234" ng-href="tel:+1 123 123 1234" class="ng-binding">+1 123 123 1234</a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        <i class="fas fa-map-marker-alt"></i>
                    </p>
                    <p id="address" class="ng-binding">3 Fontaine Blvd, Winchester, KY, 40391</p>
                </div>
                <div class="col-md-3">
                    <p>
                        <i class="far fa-envelope"></i>
                    </p>
                    <p>
                        <a href="mailto:contact@example.com" ng-href="mailto:contact@example.com" class="ng-binding">contact@example.com</a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        <i class="far fa-paper-plane"></i>
                    </p>
                    <p>
                        <a href="#sendMessage" data-toggle="modal" data-target="#sendMessage">Send a message</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12157.53873246873!2d49.8613417!3d40.37816604999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1537112409071"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="wrapper10">
        <div class="text-center2">
            <h2 class="ng-binding">SUBSCRIBE</h2>
            <p class="lead ng-binding">Subscribe to latest updates and news of our app.</p>
        </div>
        <div class="input">
            <div class="row">
                <div class="col-md-10">
                    <input type="email" placeholder="Enter your email adress...">
                </div>
                <div class="col-md-2">
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper11">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="block">
                            <ul class="footer-nav list-unstyled">
                                <!-- ngRepeat: item in footer.items.footerLinks -->
                                <li ng-repeat="item in footer.items.footerLinks" class="ng-scope">
                                    <a href="#about" ng-href="#about" title="About Us" target="" class="ng-binding">
                                        About Us
                                    </a>
                                </li><!-- end ngRepeat: item in footer.items.footerLinks -->
                                <li ng-repeat="item in footer.items.footerLinks" class="ng-scope">
                                    <a href="#sale" ng-href="#sale" title="Corporate Sale" target="" class="ng-binding">
                                        Corporate Sale
                                    </a>
                                </li><!-- end ngRepeat: item in footer.items.footerLinks -->
                                <li ng-repeat="item in footer.items.footerLinks" class="ng-scope">
                                    <a href="#privacy" ng-href="#privacy" title="Privacy Policy" target="" class="ng-binding">
                                        Privacy Policy
                                    </a>
                                </li><!-- end ngRepeat: item in footer.items.footerLinks -->
                                <li ng-repeat="item in footer.items.footerLinks" class="ng-scope">
                                    <a href="#terms" ng-href="#terms" title="Term &amp; Conditions" target="" class="ng-binding">
                                        Term &amp; Conditions
                                    </a>
                                </li><!-- end ngRepeat: item in footer.items.footerLinks -->
                                <li ng-repeat="item in footer.items.footerLinks" class="ng-scope">
                                    <a href="#help" ng-href="#help" title="Help Center" target="" class="ng-binding">
                                        Help Center
                                    </a>
                                </li><!-- end ngRepeat: item in footer.items.footerLinks -->
                            </ul>
                        </div>
                        <div class="block footer-text">
                            <p ng-bind-html="footer.items.copyText" class="ng-binding">Made with <i class="fa fa-heart"></i>
                                by <a href="http://www.drupalthemez.com" target="_blank">www.drupalthemez.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block footer_social_area">
                            <!-- ngRepeat: item in footer.items.socialLinks --><a ng-repeat="item in footer.items.socialLinks" href="#facebook" ng-href="#facebook" title="Facebook"
                                target="_blank" class="ng-scope">
                                <i class="fab fa-facebook-f"><span class="sr-only ng-binding">Facebook</span></i>
                            </a><!-- end ngRepeat: item in footer.items.socialLinks --><a ng-repeat="item in footer.items.socialLinks" href="#google-plus" ng-href="#google-plus"
                                title="Google plus" target="_blank" class="ng-scope">
                                <i class="fab fa-google-plus"><span class="sr-only ng-binding">Google plus</span></i>
                            </a><!-- end ngRepeat: item in footer.items.socialLinks --><a ng-repeat="item in footer.items.socialLinks" href="#pinterest" ng-href="#pinterest"
                                title="Pinterest" target="_blank" class="ng-scope">
                                <i class="fab fa-pinterest"><span class="sr-only ng-binding">Pinterest</span></i>
                            </a><!-- end ngRepeat: item in footer.items.socialLinks --><a ng-repeat="item in footer.items.socialLinks" href="#skype" ng-href="#skype" title="Skype"
                                target="_blank" class="ng-scope">
                                <i class="fab fa-skype"><span class="sr-only ng-binding">Skype</span></i>
                            </a><!-- end ngRepeat: item in footer.items.socialLinks --><a ng-repeat="item in footer.items.socialLinks" href="#twitter" ng-href="#twitter" title="Twitter"
                                target="_blank" class="ng-scope">
                                <i class="fab fa-twitter"><span class="sr-only ng-binding">Twitter</span></i>
                            </a><!-- end ngRepeat: item in footer.items.socialLinks -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "></script>
    <script type="text/javascript" src="slick-1.8.1/slick/slick.min.js"></script>
    <script src="main.js "></script>
</body>

</html>